.footer
  background none
  padding-bottom 0
  z-index 10
  
  position absolute
  bottom 0
  width 100%
  box-sizing border-box
  
  &-grid
    width 100%
    line-height 56px
    
  &-left
  &-right
    display flex
    flex-direction column
    justify-content center
    
    a, 
    button  
      color #fff     
      
  &-right
    text-align right
    
    &-icon
      font-size 1.3rem
      line-height 32px
      
    &--link-list
      justify-content flex-end  
        
  &-left
    &--link-list
      li 
        height 36px