.header
  position absolute
  background none
  display block !important
  z-index 10
  
  &__row
    height 7rem
    padding 0 1rem
  
  &-caption
    h1
      font-weight 300
      font-size 2rem
      margin-bottom 0
      
      span
        font-size 50%
        vertical-align middle
        margin-right 1rem
        
    &--link
      color #fff
      font-weight inherit
      text-decoration none


    &--navigation
      text-align center   
      color rgba(255,255,255,.4) 
      
      a,
      button
        color rgba(255,255,255,1)
        
        // &:hover
        // &:focus
        //   color rgba(255,255,255,1) 
          

        &[disabled][disabled]
          color rgba(255,255,255,.4) 
          cursor default
          background-color transparent