extends layouts/application

append config
  - var PageTitle = 'Мантра Онлайн'
  - var PageDescription = 'жедневные мантры, цитаты и просто слова от мотивированных людей'
  - var PagePath = '/'
  - var PageImage = ''  // Recommended 1200 x 630
  - var Header = false
  - var Footer = true

block content
  #root
    .mdl-layout.main-layout.preloader
      main.mdl-layout__content
        .mdl-grid
          .mdl-cell.mdl-cell--4-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
            h1 #{PageTitle}

          .mdl-cell.mdl-cell--7-col.mdl-color-text--grey-800
            img( class='logo', src='images/logo.png' )

       
block javascript
  script(src='/js/app.js')